<app-user-details></app-user-details>


<!--
    
  <app-rose></app-rose>
<app-lotus></app-lotus>
<app-lily></app-lily>
<app-parrot></app-parrot>


    <app-currency-converter></app-currency-converter>
 <h1> Welcome to {{title}}</h1>

Your salary is {{5000 | currency }} <br>
Your salary is {{5000 | currency :'EUR' }} <br>
Your salary is {{5000 | currency :'GBP' }} <br>
Your salary is {{5000 | currency :'INR' }} <br>

{{ "THIS LINE IS CONVERTED INTO LOWERCASE" | lowercase }} <br>
{{ "this line Is Converted Into Uppercase " | uppercase }} <br>

Today is {{ today }} <br>
Today is {{ today | date : 'shortDate' }} <br>
Today is {{ today | date : 'longDate'}} <br>
Today is {{ today | date : 'shortTime'}} <br>
Today is {{ today | date : 'longTime'}} <br>

Square of 5 is {{ 5 * 5 }} <br>
SQUARE of 5 is {{ 5 | square }} <br>
SQUARE ROOT OF 64 is {{ 64 | squareRoot }}  <br>
 
Simple Interest is {{ 5000 | si : 5 : 4.5 }} <br>

{{ 5000 | balance }} <br> -->

<!-- https://angular.io/api/common/DatePipe -->


