
<table border="5" cellspacing="5" cellpadding="5">
    <tr>
        <th> DEPTNO </th>
        <th> DNAME </th>
        <th> LOC </th>
    </tr>
    <tr>
        <td> Enter deptno </td> <td> <input type="number" [(ngModel)]="deptObj.deptno"> </td>
        <td> Enter deptname</td> <td> <input type="text" [(ngModel)]="deptObj.dname"> </td>
        <td> Enter location</td> <td> <input type="text" [(ngModel)]="deptObj.loc"> </td>
        <td><button (click)="addDeptToArray()"> Add Dept </button> </td>
    </tr>
</table>


<hr>
<table border="5" cellspacing="5" cellpadding="5">
    <tr>
        <th> DEPTNO </th>
        <th> DNAME </th>
        <th> LOC </th>
    </tr>
    <tr *ngFor="let x of deptAry">
        <td> {{x.deptno}} </td>
        <td> {{x.dname}} </td>
        <td> {{x.loc}} </td>
        <td>
                <table border="5" cellspacing="5" cellpadding="5" *ngIf="x.empList.length>0">
                    <tr>
                        <th> EMPNO </th>
                        <th> ENAME </th>
                        <th> SALARY </th>
                    </tr>
                    <tr *ngFor="let e of x.empList" >
                        <td> {{e.empno}} </td>
                        <td> {{e.ename}} </td>
                        <td> {{e.salary}} </td>
                        <td> <img src={{e.epic}} height="150" width="150"/> </td>
                        <td> <button> View Details </button> </td>
                        <td> <button> Reject </button> </td>
                        <td> <button> Delete </button> </td>
                    </tr>
                </table>
        </td>
        <td> <button> Approve </button> </td>
        <td> <button> Reject </button> </td>
        <td> <button (click)="deleteDeptFromArray(x)"> Delete </button> </td>
    </tr>
</table>




<!-- Enter applicant id <input type="number" [(ngModel)]="bankApp.applicantId"><br>
Enter Name <input type="string" [(ngModel)]="bankApp.applicantName"><br>
Enter  Mobile <input type="string" [(ngModel)]="bankApp.applicantMobile"><br>
Enter Birthdate <input type="date" [(ngModel)]="bankApp.birthDate"><br>
Enter Email Address <input type="string" [(ngModel)]="bankApp.emailAddress"><br>
Enter Permanent Address <input type="string" [(ngModel)]="bankApp.permAddress"><br>
Enter Account Applied For 
    <select [(ngModel)]="bankApp.accountAppliedFor">
        <option value="Savings">Savings</option>
        <option value="Current">Current</option>
    </select>  <br>
Enter Pan <input type="string" [(ngModel)]="bankApp.panCard"><br>
Enter Annual Income <input type="number" [(ngModel)]="bankApp.annualIncome"><br>
Enter Status <input type="string" [(ngModel)]="bankApp.applicantStatus"><br>
<button>Apply</button> -->