<h1> Showing all the departments </h1>
<table border="10" cellspacing=10 cellpadding=10>
    <th>DEPTNO</th><th>DEPT NAME</th><th>LOCATION</th>
        
    <tr>
        <td><input type=number [(ngModel)]="dept.departmentNumber"></td>
        <td><input type=string [(ngModel)]="dept.departmentName"></td>
        <td><input type=string [(ngModel)]="dept.departmentLocation"></td>
        <td><button (click)="addDept()">ADD</button></td> <td><span>{{message}}</span></td>
    </tr>
        
    <tr *ngFor="let dept of allDepts">
        
        <td>
                {{dept.departmentNumber}}
        </td>
        <td>
                {{dept.departmentName}}
        </td>
        <td>
                {{dept.departmentLocation}}
        </td>
        <td>
                <button>EDIT</button>
        </td>
        <td>
                <button>DELETE</button>
        </td>
    </tr>
</table>
